<%- include('base', { title: 'Firewall' }) %>
<div class="card">
    <h2 class="text-2xl glow mb-4">Firewall Status</h2>
    <pre class="text-sm overflow-auto h-96 bg-black p-2 rounded"><%= status %></pre>
</div>
